body{
    font-style: italic;
    margin: 0;
    padding: 0;
    background-image: url("num1.jpg"); /* βάλε εδώ τη δική σου */
    background-size: cover;    /* η ΕΙΚΟΝΑ γεμίζει όλη την οθόνη */
    background-position: center; /* κεντράρισμα */
    background-repeat: no-repeat; /* χωρίς επανάληψη */
    height: 140vh;
    
}

#div1{
    display:flex;
    flex-direction:column;
    width:300px;
    height:300px;
}

#calc{
    text-align:center;
    margin-bottom: 30px;
    font-size:50px;
    font-weight: bold;
    color:#1f2937;
}

#div{
    display:flex;
    flex-direction:column;
    align-items: center;
}

#div3{
    display:flex;
    justify-content: space-around;
    margin-bottom:5px;
}

#div4{
    display:flex;
    justify-content: space-around;
    margin-bottom:5px;

}

#div5{
    display:flex;
    justify-content: space-around;
     margin-bottom:5px;

}

#div6{
    display:flex;
    justify-content: space-around;
    margin-bottom:5px;

}

#div7{
    display:flex;
    justify-content: space-between;
    

}

#plus16{
    margin-left: 3px;
}

.cal{
    height:70px;
    width:70px;
    border-radius: 45%;
    font-size:18px;
    font-weight: bold;
    background-color:rgb(186, 235, 251);
    color:#1f2937;

}



.cal1{
    height:70px;
    width:70px;
    border-radius: 45%;
    font-size:18px;
    font-weight: bold;
    color:rgb(186, 235, 251);
    background-color:#1f2937;
}

#fname{
    height:45px;
    margin-bottom: 5px;
    width:270px;
    outline: none;
    border:none;
    text-align: right;
    border-radius: 12px;
    background-color: rgb(186, 235, 251);
}


